<nav class="navbar sticky-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <i class="fas fa-clipboard-list fa-lg"></i>
      TODO APP
    </a>
    <div class="navbar-expand ml-auto navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/maikolestevez" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
        </div>
      
  
  </nav>
  <div class="container" style="margin-top:20px">
      <app-todo-list></app-todo-list>
  </div>

